# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Temporary/Backup files
*.bak
*.tmp
*.swp
~$*.docx

# Reference manager temp files
*.enlp
*.lock

# Draft or personal notes (optional)
drafts/
notes/

# Huge raw database exports (optional)
search-strategies/*.cgi
search-strategies/*.xml
search-strategies/*.nbib
